body {
  background-color: gray;
  color: rgb(6, 3, 27);
  text-shadow: 2px 2px 2px antiquewhite;
  text-align: center;
  margin: 0;
  user-select: none;
}

.gamePageHeader {
  margin: 0;
  /* width: 100vw; */
  position: sticky;
  top: 0;
  z-index: 2;
  /* padding-bottom: .5em; */
  background-color: rgb(188, 162, 98);
}

.letter {
  font-size: 1.5em;
}

.letterPoints {
  font-size: 0.75em;
  position: relative;
  bottom: 0.15em;
  bottom: 1%;
  left: 0.25em;
  left: 13%
}
#title {
  justify-content: center;
  margin-bottom: 0.25em;
  margin-top: 0;
  font-size: 55px;
  /* font-size: 10rem; */
}

#inputField {
  height: 1.5em;
}

#buttonSection {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
}

#inputFieldRow {
  min-height: 1.5em;
  display: flex;
  align-items: center;
}


.answerRowGrid {
  margin-top: 1em;
  display: flex;
  display: none;
  justify-content: center;
}

#verticalInput::placeholder {
  text-align: center;
}
#horizontalInput::placeholder {
  text-align: center;
}

#submit {
  margin-left: 10%;
  margin-right: 10%;
}

#submitBtn {
  margin-top: 1rem;
}

#tileGridHolder {
  /* width: 50vw; */
  margin-left: 10vw;
  margin-right: 10vw;
}

.playerTileGrid {
  margin: 0;
  margin-left: 10vw;
  margin-right: 10vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* column-gap: .5em; */
  grid-template-rows: repeat(1, 1fr);
}

.playerTiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  background-color: white;
  /* padding-top: 5%; */
  /* padding-bottom: 5%; */
  min-height: 1.5em;
}

.gamePage {
  background-color: rgb(188, 162, 98);
  color: rgb(75, 58, 185);
  text-shadow: 2px 2px 2px antiquewhite;
  font-size: clamp(19px, 4vw, 4em);
  font-weight: bold;
}

#gameplayArea {
  align-items: center;
  margin: 0;
  padding: 0;
}

#multipliers {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  background-color: rgb(186, 186, 186);
  border: 1px solid black;
  border-radius: .25em;
  display: flex;
  align-items: center;
}

#multipliers > div, #tradeInLetters, #horizontalBtn, #verticalBtn, #inputCancelBtn {
  flex: auto;
  height: 100%;
  /* font-size: clamp(16px, 2vw, 3em); */
  font-size: clamp(25%,3vw,3em);
}

.gameBoard {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(15, clamp(12.2px, 5vw, 60px));
  grid-template-rows: repeat(15, clamp(12.2px, 5vw, 60px));
}

.gameGridBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: clamp(1rem, 3vw, 3.5rem);
  font-weight: bold;
  border: 2px solid black;
}

.gameGridBox:hover{
  background-color: rgb(133, 127, 181);
}

#columnLeft {
  margin-left: 10vw;
}
#columnRight {
  padding-left: 3vw;
  padding-right: 3vw;
}

.standardSquare {
  background-color: white;
}

.doubleLetter,
#d-letter {
  background-color: rgb(129, 239, 239);
}
#d-letter {
  /* color: rgb(129, 239, 239); */
  /* padding-right: 1em; */
  /* width: 100px; */
  text-shadow: none;
}

.tripleLetter,
#t-letter {
  background-color: rgb(81, 135, 135);
}

#t-letter {
  /* width: 100px; */

  /* color: rgb(81, 135, 135); */
  /* padding-right: 1em; */
  text-shadow: none;
}

.doubleWord,
#d-word {
  background-color: pink;
}

#d-word {
  /* width: 100px; */

  /* color: pink; */
  /* padding-right: 1em; */
  text-shadow: none;
}

.tripleWord,
#t-word {
  background-color: red;
}
#t-word {
  /* width: 100px; */

  /* color: red; */
  /* padding-right: 1em; */
  text-shadow: none;
}
.star {
  max-width: 100%;
  max-height: 100%;
  background-color: pink;
}

button {
  font-size: clamp(1.5rem, 3vw, 3.5rem);
}

#playButton {
  margin-top: 2em;
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#p1ScoreSection, #p2ScoreSection {
  width: 20vw;
  background-color: white;
  border: 1px solid black;
  border-radius: .25em;
  padding: .5rem;
  /* padding-top: 1rem; */
  /* padding-bottom: 1rem; */
  margin-right: 2rem;
  margin-left: 2rem;
}

.scoreBoard {
  display: flex;
  flex-direction: column;
}

#scoreboardPlayerSection{
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 1rem;
}



.tradeInLetters {
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  padding: 0.15em;
  margin-top: 1em;
  margin-bottom: 1em;
}

#returnButton {
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  position: static;
  margin-top: 2em;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0.5em;
}

#activePlayerDisplay {
  /* display: block; */
  margin-top: 1rem;
  width: 100vw;
  background-color: antiquewhite;
}

#multipliers > div {
  /* width: 10em; */
/* max-width: 200px; */
border: 0;
margin: 0;
padding: 0;
}